<div class="row">
  <div class="col-md-3">
    <p align="center">
      <div style="text-align:center;">
        <%= @user.name %>
      </div>
    </p>
  </div>
  <h3><%= t :activities %></h3>
</div>
