<% if object.errors.any? %>
  <div class="alert alert-danger">
  You have <%= pluralize object.errors.count, t(:error) %> in this form.
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
