<div class="container">    
  <div class="row">
    <div id="search-field">
      <p>Categories</p>
      <select class="col-md-3">
        <option>Basic 500</option>
        <option>Advance 200</option>
        <option>Expert 100</option>
      </select>        
        <input value="1" type="radio" name="filter">learned
        <input value="2" type="radio" name="filter">not learned
        <input value="3" type="radio" name="filter">all              
    </div>
  </div>
  <hr>
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Vietnamese mean</th>
        <th>Japanese mean</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Vietnamese</td>
        <td>Japanese</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Vietnamese</td>
        <td>Japanese</td>
      </tr>
    </table>
    <div class="col-md-6 col-md-offset-3 paginate">
      Paginate
    </div>
  </div>
</div>
