<div class="container">
  <div class="row">
    <h1>Categories</h1>    
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Categories name</th>
        <th>Learn process</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Basic 500</td>
        <td>You are learned 20/500</td>
        <td><button class="btn btn-primary">Start</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Advance 200</td>
        <td>You are learned 0/200</td>
        <td><button class="btn btn-primary">Start</button></td>
      </tr>
    </table>
  </div>
</div>
