<footer class="footer">
  <small><h5> Framgia E-Learning System </h5></small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", root_path %>
      </li>
      <li>
        <%= link_to "Contact", root_path %>
      </li>
    </ul>
  </nav>
</footer>
