<footer class="footer">
  <small><h5> <%= I18n.t :fels %> </h5></small>
  <nav>
    <ul>
      <li>
        <%= link_to I18n.t(:about), root_path %>
      </li>
      <li>
        <%= link_to I18n.t(:contact), root_path %>
      </li>
    </ul>
  </nav>
</footer>
